html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(253, 253, 253);
  margin-top: 40px;
  width: 95%;
  margin: 20px auto 0;
  height: 20px;
}

.navbar-logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.938);
  border-radius: 10px;  
  border: 5px solid #00f7ff;
  background-color: #00f7ff;
  text-transform: uppercase;
  position: relative;
  padding: 15px 30px;
  background: linear-gradient(145deg, #00f7ff, #009fcc);  
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 20px rgba(255, 255, 255, 0.6);  
  animation: rotateLogo 5s infinite linear; 
  transition: box-shadow 0.3s ease, background 0.3s ease;
}

@keyframes rotateLogo {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: perspective(200px) rotateX(20deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(0deg) rotateY(20deg);
  }
  75% {
    transform: perspective(200px) rotateX(-20deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(0deg) rotateY(-20deg);
  }
}

.navbar-btn {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.navbar-btn a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0.3s, transform 0.3s ease-in-out;
  border-radius: 4px;
  text-transform: uppercase;
}

.navbar-btn a:hover {
  color: #00f7ff;
  transform: scale(1.3);
  box-shadow: 0 0 5px #00f7ff, 0 0 15px #00f7ff, 0 0 15px #00f7ff;
  border: 1px solid #00f7ff;
}

.navbar-btn a.active {
  color: #00f7ff;
  transform: scale(1.3);
  box-shadow: 0 0 5px #00f7ff, 0 0 15px #00f7ff, 0 0 15px #00f7ff;
  border: 1px solid #00f7ff;
}











